<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Super Senoirs Task App">
        <title>Task App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">

    </head>
    <body>
        
        <div id="heading"><h1>Super Senior Task App</h1></div>

        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_tasks') }}">My Tasks</a> ||
            <a href="{{ url_for('new_task') }}">Add Task </a> ||
            {% if user %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>

        {% if task %}
            <form action="{{ url_for('update_task', task_id=task.id)}}" method="post">
        {% else %}
            





            <form action="new" method="post">
        {% endif %}
    
    
    
            <p> <label>Title: </label></p>
            <p> <input class="titletext" type="text" name="title" value="{% if task %}{{task.title}} {% endif %}"/></p>
            <p> <label>Task Details: </label></p>

            <p> <textarea class="textarea" name="taskText"  rows="7" cols="40" >
            
                {% if task %}
                    {{task.text}}
                {% else %} 
                    
                {% endif %}  
                
                </textarea>
            </p>

            <p> <label>Task Members: </label></p>
            <p> <textarea class="textarea" name="taskMembers"  rows="7" cols="40">
            
                {% if task %}
                    {{task.members}} 
                {% else %} 
                    
                {% endif %}  
                
                </textarea>
            </p>

            <p> <label>Task Importance: </label></p>
            <p> <input class="titletext" type="text" name="importanceValue" value="{% if task %}{{task.importance}} {% endif %}"/></p>


            <p>
                {% if task %}
                    <input class="button" type="submit" value="Update Task"/>
                {% else %}
                    <input class="button" type="submit" value="Add Task"/>
                {% endif %}
            </p>
        </form>

    </body>
</html>